<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST" id="myForm">
        <label for="username">Username</label>
        <input type="text" name="username" id="usename"/><br><br>
        <label for="pass">password</label>
        <input type="text" name="password" id="pass"/><br><br>
        <button type="submit">login</button>
        <button type="button" onclick="renderPage()">signup</button>
        {% if data %}
        <p>{{ data.message }}</p>
        {% endif %}
  </form>

  <script>
    function renderPage() {
      // Code to render a new HTML page
      window.location.href = "/login/signup.html";
    }
  </script>
</body>
</html>